ul.sgrnpt-table {
	border-radius: 3px;
	background: #f7f7f7;
	width: 50%;
	list-style: none;
	border: 1px solid #ddd;
	margin: 0 0 12px 12px;
	padding: 0;
	float: right;
}
ul.sgrnpt-table li {

}
ul.sgrnpt-table li:first-child {
	border-top: 0;
}
ul.sgrnpt-table a {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
	display: block;
	padding: .25em .825em;
}
ul.sgrnpt-table li:last-child a {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom: 0;
}
ul.sgrnpt-table li:first-child a {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top: 0;
}
ul.sgrnpt-table a:hover {
	background: #ffffe0;
	border-top: 1px solid #ffff9d;
	text-decoration: none;
}
.page-link a.linkprev,
.page-link a.linknext {
	width: 40%;
	display: block;
}
.page-link a {
	margin: 0;
	padding: 0 1.625em;
}
.page-link a.linknext {
	float: right;
	text-align: right;
}